body {
  font-family: "Montserrat", sans-serif;
  background-color: #1a1e26;
}
#title {
  text-align: center;
  color: #d9d0c1;
}
#table {
  margin-left: auto;
  margin-right: auto;

  color: #d9d0c1;
}
#jugadores {
  color: #735d49;
}
